@media (min-width: 992px) {
    .content-features-2 .text-content-2 h2 {
        font-size: 2.3rem;
        line-height: 50px;
    }

    .content-features-2 .img-content-2 {
        width: 350px;
        height: 500px;
    }
}